#relogio{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    border-radius: 250px;
}
.horas{
    border: 1px solid red;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
}
.horas span{
    text-align: center;
    display: table;
    margin: 2.5px auto auto auto;
    
}
#hora12{
    top: 8px;
    left: 120.5px;/*nao mudar*/
}
#hora1{
    top: 25px;
    left: 180px;
}
#hora2{
    left: 220px;
    top: 67px
}
#hora3{
    left: 231px;
    top: 120.5px/*nao mudar*/
}
#hora4{
    top: 175px;
    left: 219px
}
#hora5{
    top: 217px;
    left: 178px;
}
#hora6{
    top: 232px;
    left: 120.5px;/*nao mudar*/
}
#hora7{
    top: 217px;
    left: 62px
}
#hora8{
    top: 175px;
    left: 23px;
}
#hora9{
    top: 120.5px;/*nao mudar*/
}
#hora10{
    top: 67px;
    left: 23px
}
#hora11{
    top: 25px;
    left: 61px;
}
#Horacontainer{
    position: absolute;
    top: 135px;
    left: 131px;
}
#ponteiroHora{
    left: 130px;
    height: 80px;
    width: 7px;
    background-color: black;
    border-radius: 3.5px;
    margin-top: -80px;
}
#Mincontainer{
    position: absolute;
    top: 135px;
    left: 132px;
}
#ponteiroMinuto{
    left: 131.5px;
    height: 120px;
    width: 3.5px;
    border-radius: 3.5px;
    background-color: black;
    margin-top: -120px;
}
#Segcontainer{
    position: absolute;
    top: 135px;
    left: 133.5px;
}
#ponteiroSegundo{
    height: 120px;
    width: 1.75px;
    border-radius: 3.5px;
    background-color: red;
    margin-top: -120px;
}